.item{
  display: inline;
  margin: 5px;
  outline: none;
  cursor: pointer;
  width: 150px;
  text-align: center;

}
.button{
  width: 50px;
}
.secret{
  background-color: black;
  color: transparent;
  user-select: none;
}
.button-show{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-hide{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.credentials-container{
  display: inline-flex;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}